body {
     background-color:#dcccc0;
     margin: 0;
     padding: 0;
}

.center {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 480px) {
  .center {
    width: 100vw;
    height: auto;
    padding-top: 25%;
  }
}
